<!DOCTYPE html>

<html>
    <head>
        <title>404Error</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
<body>

    <div class="main-content"> 
        <h1>404 ERROR</h1>
        {{>error}}
        {{>header}}
    </div>
    {{>footer}}
</body>
</html>